body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100vh
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: black;
}

.nav-scroll {
  
}

.navbar-icon {
  width: 30px;
  height: 30px;
  background-color: white;
  z-index: 1;
}

.intro {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 96vw;
  margin: 0 2vw 0 2vw;
}

.column {
  display: flex;
  border: 2px solid black;
  overflow: hidden;
  padding: 1vh 1vw;
}

.column p {
  align-self: flex-end;
}
